<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>bossreport</display-name>
    <context-param>
        <description>db connection url properties</description>
        <param-name>dbPropertiesPath</param-name>
        <param-value>/db.properties</param-value>
    </context-param>
    <context-param>
        <description>Res Ltrs location where db.props is</description>
        <param-name>application_file_path</param-name>
        <param-value>/u02/apps/resLtrsFiles</param-value>
    </context-param>
    <servlet>
        <servlet-name>BurialRegisterpdf</servlet-name>
        <servlet-class>gov.va.cem.bossreport.pdf.BurialRegisterpdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BurialRegisterxls</servlet-name>
        <servlet-class>gov.va.cem.bossreport.xls.BurialRegisterxls</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FuneralHomeContactpdf</servlet-name>
        <servlet-class>gov.va.cem.bossreport.pdf.FuneralHomeContactpdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FuneralHomeContactxls</servlet-name>
        <servlet-class>gov.va.cem.bossreport.xls.FuneralHomeContactxls</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InscriptionApprovedByDatepdf</servlet-name>
        <servlet-class>gov.va.cem.bossreport.pdf.InscriptionApprovedByDatepdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InscriptionApprovedByDatexls</servlet-name>
        <servlet-class>gov.va.cem.bossreport.xls.InscriptionApprovedByDatexls</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MonumentOrderAcknowledgementpdf</servlet-name>
        <servlet-class>gov.va.cem.bossreport.pdf.MonumentOrderAcknowledgementpdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MonumentOrderedButNotReceivedByTypepdf</servlet-name>
        <servlet-class>gov.va.cem.bossreport.pdf.MonumentOrderedButNotReceivedByTypepdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MonumentOrderedButNotReceivedByTypexls</servlet-name>
        <servlet-class>gov.va.cem.bossreport.xls.MonumentOrderedButNotReceivedByTypexls</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MonumentOrderTimelinesspdf</servlet-name>
        <servlet-class>gov.va.cem.bossreport.pdf.MonumentOrderTimelinesspdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MonumentOrderTimelinessxls</servlet-name>
        <servlet-class>gov.va.cem.bossreport.xls.MonumentOrderTimelinessxls</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MonumentOrderedButNotReceivedpdf</servlet-name>
        <servlet-class>gov.va.cem.bossreport.pdf.MonumentOrderedButNotReceivedpdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MonumentOrderedButNotReceivedxls</servlet-name>
        <servlet-class>gov.va.cem.bossreport.xls.MonumentOrderedButNotReceivedxls</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MonumentReceivedButNotSetByTypepdf</servlet-name>
        <servlet-class>gov.va.cem.bossreport.pdf.MonumentReceivedButNotSetByTypepdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MonumentReceivedButNotSetByTypexls</servlet-name>
        <servlet-class>gov.va.cem.bossreport.xls.MonumentReceivedButNotSetByTypexls</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MonumentReceivedButNotSetpdf</servlet-name>
        <servlet-class>gov.va.cem.bossreport.pdf.MonumentReceivedButNotSetpdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MonumentReceivedButNotSetxls</servlet-name>
        <servlet-class>gov.va.cem.bossreport.xls.MonumentReceivedButNotSetxls</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplacementReport</servlet-name>
        <servlet-class>gov.va.cem.bossreport.pdf.ReplacementReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GravesitePreplacedSectionCemxls</servlet-name>
        <servlet-class>gov.va.cem.bossreport.xls.GravesitePreplacedSectionCemxls</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GravesitePreplacedSectionDisxls</servlet-name>
        <servlet-class>gov.va.cem.bossreport.xls.GravesitePreplacedSectionDisxls</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GravesitePreplacedSectionxls</servlet-name>
        <servlet-class>gov.va.cem.bossreport.xls.GravesitePreplacedSectionxls</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BurialRegisterpdf</servlet-name>
        <url-pattern>/burregpdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BurialRegisterxls</servlet-name>
        <url-pattern>/burregxls</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FuneralHomeContactpdf</servlet-name>
        <url-pattern>/funeralhomecontactpdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FuneralHomeContactxls</servlet-name>
        <url-pattern>/funeralhomecontactxls</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InscriptionApprovedByDatepdf</servlet-name>
        <url-pattern>/iabydatepdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InscriptionApprovedByDatexls</servlet-name>
        <url-pattern>/iabydatexls</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonumentOrderAcknowledgementpdf</servlet-name>
        <url-pattern>/moarpdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonumentOrderedButNotReceivedByTypepdf</servlet-name>
        <url-pattern>/monordernotrecvbytypepdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonumentOrderedButNotReceivedByTypexls</servlet-name>
        <url-pattern>/monordernotrecvbytypexls</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonumentOrderTimelinesspdf</servlet-name>
        <url-pattern>/monordertimelinesspdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonumentOrderTimelinessxls</servlet-name>
        <url-pattern>/monordertimelinessxls</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonumentOrderedButNotReceivedpdf</servlet-name>
        <url-pattern>/monordernotrecvpdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonumentOrderedButNotReceivedxls</servlet-name>
        <url-pattern>/monordernotrecvxls</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonumentReceivedButNotSetByTypepdf</servlet-name>
        <url-pattern>/monrecvnotsetbytypepdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonumentReceivedButNotSetByTypexls</servlet-name>
        <url-pattern>/monrecvnotsetbytypexls</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonumentReceivedButNotSetpdf</servlet-name>
        <url-pattern>/monrecvnotsetpdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonumentReceivedButNotSetxls</servlet-name>
        <url-pattern>/monrecvnotsetxls</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReplacementReport</servlet-name>
        <url-pattern>/replacementreport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GravesitePreplacedSectionCemxls</servlet-name>
        <url-pattern>/gpscemxls</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GravesitePreplacedSectionDisxls</servlet-name>
        <url-pattern>/gpsdisxls</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GravesitePreplacedSectionxls</servlet-name>
        <url-pattern>/gpsxls</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
